.container{
    display: flex;
    justify-content: space-around;

}

.field{
    width: 280px;
    height: 400px;
    margin: 80px auto;
    font-size: 20px;
    padding: 60px;
}
.field-order{
    width: 500px;
    margin: 80px auto;
    font-size: 20px;
    padding: 92px 27px 60px;
}
img{
    width: 100px;
    height: auto;
    background-color: transparent;
}
.descr-orders{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 20px;
}
strong{
    display: block;
}